In [2]:
import pandas as pd

df = pd.read_csv("data/data.csv")

In [7]:
df.shape

(6930, 7)

In [3]:
df.head()

   YEAR  MONTH  PROV_ID           PROV_T    MinRain     MaxRain     AvgRain
0  2018      1       10    กรุงเทพมหานคร  54.299999  257.230011  142.119137
1  2018      1       11      สมุทรปราการ  76.250000  256.100006  137.302046
2  2018      1       12          นนทบุรี  38.360001  161.470001  113.433771
3  2018      1       13         ปทุมธานี  51.439999  116.500000   82.901688
4  2018      1       14  พระนครศรีอยุธยา   8.850000   88.589996   39.960089

In [4]:
df.describe()

,YEAR,MONTH,PROV_ID,MinRain,MaxRain,AvgRain
count,6930.000000,6930.000000,6930.000000,6930.000000,6930.000000,6930.000000
mean,2021.266667,6.300000,51.129870,84.419091,187.822074,128.413216
std,2.174758,3.446503,24.943993,98.945118,188.850980,132.170843
min,2018.000000,1.000000,10.000000,0.000000,0.000000,0.000000
25%,2019.000000,3.000000,31.000000,4.190000,35.715001,17.491740
50%,2021.000000,6.000000,50.000000,54.564999,147.255002,98.582359
75%,2023.000000,9.000000,72.000000,134.017502,274.867497,196.334559
max,2025.000000,12.000000,96.000000,1264.140000,1642.350000,1452.629329

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6930 entries, 0 to 6929
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     6930 non-null   int64
 1   MONTH    6930 non-null   int64
 2   PROV_ID  6930 non-null   int64
 3   PROV_T   6930 non-null   object
 4   MinRain  6930 non-null   float64
 5   MaxRain  6930 non-null   float64
 6   AvgRain  6930 non-null   float64
dtypes: float64(3), int64(3), object(1)
memory usage: 379.1+ KB

In [6]:
df.isnull().sum()

YEAR       0
MONTH      0
PROV_ID    0
PROV_T     0
MinRain    0
MaxRain    0
AvgRain    0
dtype: int64