In [2]:
import pandas as pd

df = pd.read_csv("data/data.csv")

In [3]:
df.shape

(6930, 7)

In [4]:
df.head()

   YEAR  MONTH  PROV_ID           PROV_T    MinRain     MaxRain     AvgRain
0  2018      1       10    กรุงเทพมหานคร  54.299999  257.230011  142.119137
1  2018      1       11      สมุทรปราการ  76.250000  256.100006  137.302046
2  2018      1       12          นนทบุรี  38.360001  161.470001  113.433771
3  2018      1       13         ปทุมธานี  51.439999  116.500000   82.901688
4  2018      1       14  พระนครศรีอยุธยา   8.850000   88.589996   39.960089

In [5]:
df.describe()

,YEAR,MONTH,PROV_ID,MinRain,MaxRain,AvgRain
count,6930.000000,6930.000000,6930.000000,6930.000000,6930.000000,6930.000000
mean,2021.266667,6.300000,51.129870,84.419091,187.822074,128.413216
std,2.174758,3.446503,24.943993,98.945118,188.850980,132.170843
min,2018.000000,1.000000,10.000000,0.000000,0.000000,0.000000
25%,2019.000000,3.000000,31.000000,4.190000,35.715001,17.491740
50%,2021.000000,6.000000,50.000000,54.564999,147.255002,98.582359
75%,2023.000000,9.000000,72.000000,134.017502,274.867497,196.334559
max,2025.000000,12.000000,96.000000,1264.140000,1642.350000,1452.629329

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6930 entries, 0 to 6929
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     6930 non-null   int64
 1   MONTH    6930 non-null   int64
 2   PROV_ID  6930 non-null   int64
 3   PROV_T   6930 non-null   object
 4   MinRain  6930 non-null   float64
 5   MaxRain  6930 non-null   float64
 6   AvgRain  6930 non-null   float64
dtypes: float64(3), int64(3), object(1)
memory usage: 379.1+ KB

In [7]:
df.isnull().sum()

YEAR       0
MONTH      0
PROV_ID    0
PROV_T     0
MinRain    0
MaxRain    0
AvgRain    0
dtype: int64

In [9]:
# นับจำนวนจังหวัดในแต่ละปีและเดือน
result = df.groupby(['YEAR', 'MONTH'])['PROV_ID'].nunique().reset_index()

# เปลี่ยนชื่อคอลัมน์ให้เข้าใจง่าย
result = result.rename(columns={'PROV_ID': 'Num_Provinces'})

# แสดงทั้งหมด (ไม่ตัด)
pd.set_option('display.max_rows', None)

print(result)

    YEAR  MONTH  Num_Provinces
0   2018      1             77
1   2018      2             77
2   2018      3             77
3   2018      4             77
4   2018      5             77
5   2018      6             77
6   2018      7             77
7   2018      8             77
8   2018      9             77
9   2018     10             77
10  2018     11             77
11  2018     12             77
12  2019      1             77
13  2019      2             77
14  2019      3             77
15  2019      4             77
16  2019      5             77
17  2019      6             77
18  2019      7             77
19  2019      8             77
20  2019      9             77
21  2019     10             77
22  2019     11             77
23  2019     12             77
24  2020      1             77
25  2020      2             77
26  2020      3             77
27  2020      4             77
28  2020      5             77
29  2020      6             77
30  2020      7             77
31  2020      8             77
32  2020      9             77
33  2020     10             77
34  2020     11             77
35  2020     12             77
36  2021      1             77
37  2021      2             77
38  2021      3             77
39  2021      4             77
40  2021      5             77
41  2021      6             77
42  2021      7             77
43  2021      8             77
44  2021      9             77
45  2021     10             77
46  2021     11             77
47  2021     12             77
48  2022      1             77
49  2022      2             77
50  2022      3             77
51  2022      4             77
52  2022      5             77
53  2022      6             77
54  2022      7             77
55  2022      8             77
56  2022      9             77
57  2022     10             77
58  2022     11             77
59  2022     12             77
60  2023      1             77
61  2023      2             77
62  2023      3             77
63  2023      4             77
64  2023      5             77
65  2023      6             77
66  2023      7             77
67  2023      8             77
68  2023      9             77
69  2023     10             77
70  2023     11             77
71  2023     12             77
72  2024      1             77
73  2024      2             77
74  2024      3             77
75  2024      4             77
76  2024      5             77
77  2024      6             77
78  2024      7             77
79  2024      8             77
80  2024      9             77
81  2024     10             77
82  2024     11             77
83  2024     12             77
84  2025      1             77
85  2025      2             77
86  2025      3             77
87  2025      4             77
88  2025      5             77
89  2025      6             77